In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
df=pd.read_csv('/content/drive/My Drive/Colab Notebooks/Housing.csv')

In [ ]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [ ]:
bed_bath_arr = np.column_stack((df.bedrooms, df.bathrooms))
x = df.bathrooms.values.reshape(-1, 1)

In [ ]:
x

array([4, 4, 3, 4, 4, 3, 4, 5, 4, 3, 3, 4, 4, 4, 3, 4, 4, 3, 3, 3, 3, 3,
       3, 3, 3, 4, 3, 3, 5, 4, 3, 3, 4, 3, 5, 3, 3, 4, 3, 4, 3, 3, 3, 4,
       4, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 4, 4, 4, 3, 3, 2, 4, 4, 3, 3,
       2, 3, 3, 4, 3, 4, 3, 2, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 5, 3, 2, 3, 3, 4, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 4, 3, 4, 4,
       3, 3, 6, 3, 2, 3, 3, 4, 3, 3, 3, 3, 4, 4, 3, 3, 3, 3, 3, 3, 3, 4,
       3, 3, 3, 3, 4, 4, 3, 3, 3, 4, 4, 5, 4, 3, 2, 3, 3, 4, 3, 4, 5, 3,
       3, 3, 3, 4, 3, 3, 4, 3, 4, 3, 3, 3, 3, 2, 4, 4, 3, 3, 3, 4, 3, 4,
       3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 2, 3, 2, 2, 4, 3, 3, 2, 3, 4, 3, 3,
       3, 3, 3, 3, 2, 4, 3, 3, 2, 3, 3, 3, 3, 3, 4, 4, 2, 3, 3, 3, 2, 3,
       4, 4, 2, 3, 2, 2, 3, 2, 3, 4, 2, 3, 3, 3, 3, 3, 2, 3, 4, 3, 3, 3,
       3, 3, 3, 3, 3, 4, 2, 4, 3, 3, 3, 2, 4, 2, 3, 3, 3, 2, 3, 3, 2, 3,
       2, 3, 3, 3, 4, 3, 3, 5, 3, 4, 4, 2, 2, 2, 3, 2, 2, 2, 3, 4, 2, 3,
       3, 3, 3, 2, 4, 3, 4, 2, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 4, 3, 2, 3, 3, 2, 2, 4, 3, 3, 4, 3, 3, 3, 3, 3, 4, 4, 3, 3, 3,
       2, 3, 4, 3, 2, 2, 3, 4, 2, 4, 5, 2, 3, 2, 2, 3, 2, 3, 2, 3, 2, 2,
       2, 3, 2, 3, 5, 4, 2, 3, 2, 3, 2, 2, 3, 2, 2, 2, 2, 2, 2, 3, 3, 2,
       2, 3, 3, 3, 3, 3, 2, 2, 3, 4, 2, 2, 3, 3, 3, 4, 3, 3, 3, 3, 3, 6,
       2, 2, 3, 2, 2, 3, 2, 3, 3, 3, 2, 3, 2, 2, 3, 3, 3, 3, 2, 3, 3, 2,
       4, 4, 2, 2, 2, 3, 3, 2, 3, 3, 2, 4, 2, 4, 3, 4, 4, 2, 3, 3, 2, 2,
       4, 3, 2, 3, 3, 1, 2, 2, 2, 3, 3, 2, 3, 2, 3, 3, 3, 3, 3, 2, 2, 2,
       3, 2, 2, 2, 3, 3, 2, 2, 3, 3, 4, 2, 4, 2, 3, 2, 3, 4, 3, 2, 3, 3,
       2, 2, 2, 4, 4, 3, 3, 2, 3, 3, 2, 3, 2, 2, 2, 3, 3, 3, 2, 3, 2, 3,
       2, 2, 2, 2, 3, 3, 2, 3, 3, 3, 2, 2, 2, 2, 2, 2, 3, 4, 2, 2, 2, 2,
       1, 3, 3, 3, 2, 3, 4, 2, 5, 3, 2, 2, 2, 3, 2, 3, 3])

In [ ]:
y=np.array(df.price[:])

In [ ]:
model=LinearRegression().fit(x,y)

In [ ]:
rsq=model.score(x,y)

In [ ]:
rsq

0.26785317839160294

In [ ]:
print('Intercept=',model.intercept_)
print('Slope=',model.coef_)

Intercept= 2288714.96887274
Slope= [1926558.89010607]

In [ ]:
x=np.array([4,2]).reshape((-1,1))

In [ ]:
y_pred=model.predict(x)

In [ ]:
print('Predicted value is ',y_pred)

Predicted value is  [9994950.52929703 6141832.74908488]